/* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

@font-face {
  font-family: f7Segment;
  src: url('DSEG14Modern-Italic.ttf');
}

#screen-box {
  display: block;
  background: #1b5772;
  height: 140px;
  width: 316px;
  padding: 20px 60px 20px 60px;
}

.screen {
  font-family: f7Segment;
  font-size: 24pt;
  color: #6ac8f2;
  position: absolute;
}

.screen.back {  
  color: #154256;
}

.screen-status {
  display: block;
  position: relative;
  left: -23px;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: 600;
  color: #154256;
}

.screen-status.active {
  color: #6ac8f2;
  font-weight: 600;
}

table {
  table-layout: fixed;
}

table button {
  border-style: none;
  font-size: 12pt;
  width: 100%;
}

#lower-button-table button {
  height: 50px;
}

#upper-button-table button {
  height: 40px;
}

#arrows-cell button {
  width: 35px;
  height: 20px;
}