/* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

@font-face {
  font-family: f7Segment;
  src: url('DSEG14Modern-Italic.ttf');
}

body {
  background-color: #414e5b;
}

h1 {
  font-family: 'Indie Flower', sans-serif;
  color: white;
  text-align: center;
  font-size: 36pt;
}

#calculator-box {
  background-color: #adaba4;
  width: 436px;
  padding: 30px 25px 30px 25px;
  margin: auto;
}

#screen-box {
  display: block;
  background: #1b5772;
  height: 140px;
  width: 316px;
  padding: 20px 60px 20px 60px;
}

.screen {
  font-family: f7Segment;
  font-size: 24pt;
  color: #6ac8f2;
  position: absolute;
}

.screen.back {  
  color: #154256;
}

.screen-status {
  display: block;
  position: relative;
  left: -23px;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: 600;
  color: #154256;
}

.screen-status.active {
  color: #6ac8f2;
  font-weight: 600;
}

table {
  table-layout: fixed;
  margin: 0 -6px 0 -3px;
}

table button {
  font-family: 'Titillium Web', sans-serif;
  border-style: none;
  font-size: 12pt;
  width: 100%;
  
  background-color: #5b5953;
  color: white;
}

table button:hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  background-color: #848177;
}

#execute-btn {
  background-color: #3355aa !important;
  color: white !important;
  font-size: 20pt !important;
}

#lower-button-table button {
 height: 50px;
  background-color: #e2e1dc;
  color: #333231;
  font-size: 15pt;
  font-weight: lighter;
}

#lower-button-table button:hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  background-color: #c6c5bc;
}

#upper-button-table button {
  height: 40px;
}

#arrows-cell button {
  width: 38px;
  height: 25px;
}