/* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

@font-face {
  font-family: f7Segment;
  src: url('DSEG14Modern-Italic.ttf');
}

body {
  background-color: #414e5b;
}

h1 {
  font-family: 'Indie Flower', sans-serif;
  color: white;
  text-align: center;
  font-size: 36pt;
}

#calculator-box {
  background-color: #adaba4;
  width: 70%;
  padding: 30px 25px 30px 25px;
  margin: auto;
}

#screen-box {
  display: block;
  background: #1b5772;
  height: 22vw;
  padding: 20px 0px 20px 0px;
}

#screen-anchor {
  margin: 0 auto 0 auto;
  width: 49vw;
}

.screen {
  font-family: f7Segment;
  font-size: 5vw;
  color: #6ac8f2;
  position: absolute;
}

.screen.back {  
  color: #154256;
}

.screen-status {
  display: block;
  position: relative;
  left: -23px;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: 600;
  color: #154256;
}

.screen-status.active {
  color: #6ac8f2;
  font-weight: 600;
}

table {
  table-layout: fixed;
  margin: 0 -6px 0 -3px;
}

table button {
  font-family: 'Titillium Web', sans-serif;
  border-style: none;
  font-size: 12pt;
  width: 100%;
  
  background-color: #5b5953;
  color: white;
}

table button:hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  background-color: #848177;
}

#execute-btn {
  background-color: #3355aa !important;
  color: white !important;
  font-size: 20pt !important;
}

#lower-button-table {
  width: 100%;
}

#lower-button-table button {
  height: 9vw;
  min-height: height: 50px;
  background-color: #e2e1dc;
  color: #333231;
  font-size: 15pt;
  font-weight: lighter;
}

#lower-button-table button:hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  background-color: #c6c5bc;
}

#upper-button-table {
  width: 100%;
}

#upper-button-table button {
  width: 100%;
  height: 7vw;
  min-height: 36px;
}

#arrows-cell button {
  width: 25%;
  height: 4vw;
  min-height: 25px;
}

@media (min-aspect-ratio: 8/5) {
  #calculator-box {
    max-width: 450px;
  }
  .screen {
    font-size: 25pt;
  }
  #screen-box {
    height: 150px;
  padding: 20px 60px 20px 60px;
  }
  #upper-button-table button {
    height: 50px;
  }
  #lower-button-table button {
    height: 65px;
  }
  #arrows-cell button {
    height: 30px;
  }
}